seed: 1572312
bulk_data_path: /Users/seonghwanjun/data/cell-line/bulk/Combined/ssm.txt
output_path: /Users/seonghwanjun/data/cell-line/bulk/Combined/wo_cells/
n_mcmc_iter: 1000
n_mh_iter: 2000
thinning: 10
burn_in: 100
alpha0_max: 50
lambda_max: 1
gamma_max: 10
seq_err: 0.001
sc_dropout_alpha0: 0.05
sc_dropout_beta0: 0.05
