seed: 57
bulk_data_path: /Users/seonghwanjun/data/cell-line/bulk/OV2295/ssm_wo_cnv.txt
sc_rna_data_path: /Users/seonghwanjun/data/cell-line/bulk/OV2295/sc.txt
hyperparams_path: /Users/seonghwanjun/data/cell-line/bulk/OV2295/sc_hp.txt
output_path: /Users/seonghwanjun/data/cell-line/bulk/OV2295/w_cells/
n_mcmc_iter: 1000
n_mh_iter: 2000
thinning: 10
burn_in: 100
alpha0_max: 50
lambda_max: 1
gamma_max: 10
seq_err: 0.001
sc_dropout_alpha0: 0.001
sc_dropout_beta0: 0.001
