seed: 17
num_branches: 2
max_depth: 1
n_sites: 20
n_regions: 1
bulk_mean_depth: 1000
seq_err: 0.001
var_allele_copy_prob: 0,1,0,0
ref_allele_copy_prob: 0,1,0,0
var_cp_prob: 0.25
n_cells: 20
sc_mean_depth: 10
dropout_rate: 0.8
randomize_dropout: 0
bursty_prob: 0.8
sc_dropout_alpha0: 0.01
sc_dropout_beta0: 0.01
beta_binomial_hp_max: 100
n_sims: 10
n_reps: 10
randomize_branching: 0
randomize_cf: 1
min_cf: 0.01
snv_sc_sparsity: 1.0
output_path: /Users/seonghwanjun/data/simulation/cherry/