seed: 17
num_branches: 2
max_depth: 2
n_sites: 100
n_regions: 1
bulk_mean_depth: 1000
seq_err: 0.001
var_allele_copy_prob: 0,1,0,0
ref_allele_copy_prob: 0,1,0,0
var_cp_prob: 0.25
n_cells: 100
sc_mean_depth: 20
dropout_rate: 0.6
randomize_dropout: 1
bursty_prob: 0.8
sc_bursty_alpha0: 0.01
sc_bursty_beta0: 0.01
beta_binomial_hp_max: 10
n_sims: 1
n_reps: 1
randomize_branching: 0
randomize_cf: 0
min_cf: 0.05
snv_sc_sparsity: 1.0
output_path: /Users/seonghwanjun/data/simulation/cherry/