seed: 157
bulk_data_path: /Users/seonghwanjun/data/simulation/large/sparse/binary/case3/sim0/rep0/genotype_ssm.txt
sc_rna_data_path: /Users/seonghwanjun/data/simulation/large/sparse/binary/case3/sim0/rep0/simul_sc.txt
hyperparams_path: /Users/seonghwanjun/data/simulation/large/sparse/binary/case3/sim0/rep0/simul_sc_hp.txt
output_path: /Users/seonghwanjun/data/simulation/large/sparse/binary/case3/sim0/rep0/
n_mcmc_iter: 2000
n_mh_iter: 2000
thinning: 10
burn_in: 100
alpha0_max: 50
lambda_max: 1
gamma_max: 10
seq_err: 0.001
sc_dropout_alpha0: 0.001
sc_dropout_beta0: 0.001
